#app {
  margin: 0;
  background-color: gold;
}

.title {
  color: red;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
};

img {
  height: 212px;
  width: 212px;
  background-color: #282c34;
  cursor: pointer;
}