#app {
  margin: 0;
  background-color: gold;
}

.title {
  color: red;
  font-weight: bold;
};

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  height: 200px;
  width: 200px;
  background-color: #282c34;
}